.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    height: 19%;
    width: 85%;
}

.kitchen-order-container{
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    /* visibility: hidden; */
}