.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% 0% 0% 3%;
    height: 100%;
    width: 12%;
}

.kitchen-order-container{
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    /* visibility: hidden; */
}

.orders-sent{
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: center;
    margin: 5%;
    background-color: white;
    width: 70%;
    height: 12%;
    border: 1px solid rgba(128, 128, 128, 0.514);
    border-radius: 5px;
}