.middle{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    margin: 3% 0% 2% 0%;
    height: 75%;
    width: 100%;
    font-family: 'Manrope', sans-serif;
}

.menu-container{
    
    height: 100%;
    width: 62%;
    /* background-color: rgb(19, 19, 19); */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 1%;
    justify-content: center;
    /* margin: 0% 2% 0% 0%; */
}

.menu-buttons-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* margin: 3% 0% 3% 3%; */
    width: 20%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    border-right: 1px solid rgb(19, 19, 19);
    border-radius: 5px 0px 0px 5px;
    /* border-bottom: 1px solid white; */
}

.first-button{
    border-radius: 5px 0px 0px 0px;
}

.first-button:hover{
    border-radius: 5px;
}

.menu-button{
    font-family: 'Manrope', sans-serif;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    background-color: rgba(15, 15, 15, 0.8);
    color: white;
    border: 1px solid;
    padding: 1.298rem 1.5rem;
    font-size: 16px;
    font-weight: bolder;
    transition: all .3s;
    cursor: pointer;
    /* border-radius: 5px 0px 0px 5px; */
    outline: none;
    height: 40px;
}
.menu-button:hover{
    transform: scale(1.03);
    color: rgb(19, 19, 19);
    background-color: rgb(209 255 0);
    border-radius: 5px;
}
.menu-button:active{
    transform: scale(.98);

}
.current-order-container{
    height: 100%;
    width: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 180px;
}

#order-taken{
    border-radius: 30px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

#order-taken{
    width: 90%;
    height: 90%;
    background-color: whitesmoke;
    color: black;
    font-size: 30px;
    font-weight: 800;
}

.menu-items{
    position:relative;
    display: flex;
    height: 100%;
    width: 35%;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 3% 0% 3% 0%; */
    background-color: rgba(128, 128, 128, 0.5);
    border-right: 1px solid rgb(19, 19, 19);
}
.menu-items:hover{
    cursor: pointer;
}
.new-item{
  display: flex;
 background-color: rgb(117 117 117);
  color: white;
  border: 1px solid;
  padding: 0.8rem 1.5rem;
  transition: all .3s;
  cursor: pointer;
  /* border-radius: 0px; */
  border-bottom: 4px solid lighten(gray, 70%);

}
.new-item:hover{
    transform: scale(1.03);
    color: black;
    background-color: rgb(209 255 0);
    border-radius: 5px;
}
.new-item:active{
    transform: scale(.98);
}

.fire-button{
    padding: 10px;
    width: 150px;
    color: white;
    font-size: 15px;
    font-weight: 900;
    background-color: rgb(72,61,139);
    border: none;
    border-radius: 5px;
    font-family: 'Manrope', sans-serif;
}

.fire-button:hover{
    cursor: pointer;
    background-color: rgb(209 255 0);
    color: black;
}

.items-ordered-container{
    margin-top: 10px;
    
}

.items-ordered-container > h1{
    font-weight: 900;
}

.items-ordered{
       font-size: 18px;
    margin-bottom: 12px;
    /* margin: 0.2em 0em 0em 0em;
    align-items: center;
    justify-content: center;
    padding: 0em 0.5em 0em 0.5em;
    font-size: 20px;
    display: flex;
    width: 100%; 
    height: 10%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.514); */ 
}

.order-taken-title > h1{
    margin-bottom: 1em;
    align-content: center;
    font-size: 25px;
    font-weight: 900;
}

.sub-menu-items {
    display: flex;
    height: 90%;
    width: 30%;
    flex-direction: column;
    justify-content: space-between;
    margin: 3% 0% 3% 0%;
}

.sub-category{
  display: flex;
  background-color: rgba(128, 128, 128, 0.5);
  color: white;
  border: 1px solid;
  padding: 0.8rem 1.5rem;
  transition: all .3s;
  cursor: pointer;
  /* border-radius: 0px 5px 5px 0px; */
  /* border-bottom: 4px solid lighten(gray, 70%); */

}
.sub-category:hover{
    transform: scale(1.03);
    color: black;
    background-color: rgb(209 255 0);
    border-radius: 5px;
}
.sub-category:active{
    transform: scale(.98);
}

.menu-items2{
    display: flex;
    height: 100%;
    width: 35%;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 3% 0% 3% 0%; */
    background-color:rgba(128, 128, 128, 0.5);
    border-radius: 0px 5px 5px 0px;
    
}
.menu-items2:hover{
    cursor: pointer;
}

.sub-items li:first-child{
    border-radius: 0px 5px 0px 0px;
}

.sub-items li:first-child:hover{
    border-radius: 5px;
}

.sub-items li:last-child{
    border-radius: 0px 0px 5px 0px;
}

.sub-items li:last-child:hover{
    border-radius: 5px;
}

.last-button{
    border-radius: 0px 0px 0px 5px;
}

.last-button:hover{
    border-radius: 5px
}

.items li:last-child{
    border-radius: 0px 0px 5px 5px;
}

.items li:last-child:hover{
    border-radius: 5px
}



.blocker{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 1;
     display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: rgb(209 255 0);
    align-items: center;
}

.orders-sent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media only screen and (max-width: 414px) {  

    .menu-button{
        height:0px;
        font-size: 10px;
        padding: 12px 8px 12px 15px;
    }

    .new-item{
        font-size: 10px;
        height: 0px;
        padding: 8px 8px 16px 15px;
    }

    .sub-category{
        font-size: 10px;
        height: 0px;
        padding: 8px 8px 16px 15px;
    }

    .order-taken-title > h1{
        font-size: 18px;
    }

    .current-order-container{
        margin-right: 8em;
        height: 92%;
        align-items: inherit;
    }

    .items-ordered{
        font-size: 11px;
    }

    .orders-sent{
        font-size: 11px
    }

    .verifier{
        margin: 5px;
    }
}


@media only screen and (max-width: 836px) {  
    .current-order-container{
        margin-right: 9.5em;
    }

    .items-ordered{
        font-size: 13px;
    }
}




