.middle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 2%;
    height: 60%;
    width: 100%;
    font-family: 'Manrope', sans-serif;
}

.menu-container{
    height: 100%;
    width: 68%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
}

.menu-buttons-container{
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
    margin: 3%;
}
/* .menu-button{
    font-family: 'Manrope', sans-serif;
    background-color:  rgb(177, 175, 179);
    color: black;
    border-radius: 3px;
    padding: 19px;
    font-size: 25px;
    font-weight: bold;
} */

/* .menu-button:hover{
    background-color: rgb(209 255 0);
    cursor: pointer;
} */

.menu-button{
font-family: 'Manrope', sans-serif;
  display: flex;
  background-color: grey;
  color: white;
  border: 1px solid;
  padding: 1.3rem 1.5rem;
  font-size: 24px;
  font-weight: bolder;
  transition: all .3s;
  cursor: pointer;
  border-radius: 5px;
  outline:none;

}
.menu-button:hover{
    transform: scale(1.03);
    color: black;
    background-color: rgb(209 255 0);
}
.menu-button:active{
    transform: scale(.98);

}

.current-order-container{
    height: 100%;
    width: 30%;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#order-taken{
    border-radius: 30px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

#category-container{
    margin: 10px;
}

#order-taken{
    width: 90%;
    height: 90%;
    background-color: white;
    color: black;
    font-size: 19px;
    font-weight: 800;
}

.menu-items{
    display: flex;
    height: 90%;
    width: 30%;
    flex-direction: column;
    justify-content: space-between;
    margin: 3% 3% 3% 1%;
}

.menu-items:hover{
    cursor: pointer;
}

.new-item{
  display: flex;
  background-color: grey;
  color: white;
  border: 1px solid;
  padding: 0.8rem 1.5rem;
  transition: all .3s;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 4px solid lighten(gray, 70%);

}
.new-item:hover{
    transform: scale(1.03);
    color: black;
    background-color: rgb(209 255 0);
}
.new-item:active{
    transform: scale(.98);
}
