#instructions-container{
    display: flex;
    align-items: center;
    position: absolute;
    top: 25%;
    right: 30%;
    background-color: teal;
    visibility: hidden;
    border-radius: 15px;
    padding: 40px;
}

