#instructions-container{
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5.3em;
    left: 23vw;
    background-color: rgb(10, 7, 30);
    color: white;
    visibility: hidden;
    border-radius: 5px;
    padding: 50px;
    height: 25em;
    width: 40em;
    z-index: 1;
}

.instructions-list > li {
    font-size: 17px;
    margin: 13px;
}



.instructions-list > li:first-child{
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 60px;
} 

.close-instructions{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1em;
    right: 1em;
    width: 25px;
    height: 25px;
    padding: 20px;
    border-radius: 50%;
    background-color: whitesmoke;
    font-weight: 700;
    font-size: 16px;
    border: none;
}

.close-instructions:hover{
    cursor: pointer;
    background-color: rgb(209 255 0);
    color: black;
}


@media only screen and (max-width: 1024px) {  
    #instructions-container{
        left: 1em;
        width: 59.5em;
    }
}