body{
    display: flex;
    justify-content: center;
    background-color: black;
}

.outter-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#training{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    height: 850px;
    background-color: rgb(37, 37, 37);
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 100%;
}

.random-input-container{
    height: 90%;
    width: 60%;
    margin-left: 4%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 800;
    border-radius: 40px;
    color: white;
}

.timer-container{
    height: 90%;
    width: 10%;

}

.timer{
    height: 85%;
    width: 85%;
    border: 1px solid black;
    border-radius: 25%;
    border: 8px solid ;
    background-color: black;
    color: rgb(126,245,61);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Orbitron';
    font-weight: 800;
}

.home-button{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(245,73,89);
    color: white;
    margin: 20px;
    font-weight: 800;
    font-size: 18px;
    padding: 20px;
}
