body{
    display: flex;
    justify-content: center;
    background-color: black;
}



.outter-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#training{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    height: 800px;
    background-color: rgb(37, 37, 37);
    /* visibility: hidden; */
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 100%;
    /* background-color: blue;  */
}

.random-input-container{
    height: 90%;
    width: 60%;
    margin-left: 4%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-radius: 40px;
    color: white;
}

.timer-container{
    height: 90%;
    width: 10%;
    /* background-color: white; */
    /* visibility: hidden; */
}

.timer{
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: teal;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.home-button{
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: rgb(218, 65, 5);
    color: white;
    margin: 20px;
}
